<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citizen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Appointment"
            android:label="@string/Appointment"></activity>
        <activity android:name=".Track_complaint"
            android:label="@string/Track_Complaint"/>
        <activity android:name=".Recruitment_Form"
            android:label="@string/Recruitment_Form"/>
        <activity android:name=".Request_NOC"
            android:label="@string/Request_NOC"/>
        <activity android:name=".Request_resource_allocate"
            android:label="@string/Request_resource_alloactation"/>
        <activity android:name=".File_complaint"
            android:label="@string/File_Complaint"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>